body{
	margin: 0;
	background-color:#000000;	
}

body, p, br, td{
	font-family:arial;
	color:#000000;
}

#container{
	width:970px;
	margin: 0 auto;
	border:0px solid #000000;
}

#logo{
	width:318px;
	height:115px;
	float:left;
	border:0px solid #000000;
	background-color:#ffffff;
}

#header{
	width:652px;
	height:115px;
	float:left;
	border:0px solid #000000;
}

#sitetools{
	width:652px;
	height:54px;
	background-color:#e1e1e1;
}

#sitetools ul{
	list-style-type:square;
	margin:0;
	padding:0;
	font-size:10pt;
	font-weight:bold;
}

#sitetools ul a{
	color:#000000;
	text-decoration:none;
}

#sitetools ul a:hover{
	color:#000000;
	text-decoration:underline;
}

#navigation{
	height:61px;
	width:652px;
}

#navigation ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#navigation li{
	display:inline;
	padding:0;
	margin:0;
} 

#main{
	background-color:#ffffff;
	width:946px;
	float:left;
	padding:20px 12px 25px 12px;
}

#footerline{
	width:970px;
	height:4px;
	float:left;
	background-color:#000000;
}

#footer{
	width:946px;
	height:97px;
	padding-left:12px;
	padding-right:12px;
	padding-top:8px;
	float:left;
	background-color:#9cc24d;
}

#footertext{
	width:149px;
	float:left;
	color:#000000;
	font-size:9pt;
	font-family:arial;
}

#footertext ul{
	margin:5px 0 0 0;
	padding:0;
	list-style-type: none;
}

#footertext li{
	margin:0 0 0 7px;
	padding:0;
}

#footertext a{
	color:#000000;
	text-decoration:none;
}

#footertext a:hover{
	color:#000000;
	text-decoration:underline;
}

#footertextright{
	width:250px;
	float:right;
	color:#000000;
	font-size:9pt;
	font-family:arial;
	text-align:right;
}

h1{
	font-family:arial;
	font-size:21pt;
	font-weight:normal;
	margin: 0;
	text-transform: uppercase;
}

#itemratingscontainer h1 { text-transform: none; }

h1.left {
  float: left;
}

.extra {
  float: right;
}

#homeleft{
	width:545px;
	float:left;
}

#homeright{
	margin-left:40px;
	width:243px;
	height:200px;
	float:left;
	background-image:url('/images/recent_rating_bg.gif');
	background-repeat:no-repeat;
	color:#484848;
	font-size:10pt;
	padding:45px 55px 0px 55px;
	line-height:22px;
}

.homerightname{
	font-weight:bold;
	font-size:11pt;
	color:#484848;
	text-decoration:none;
}

.homerightlink{
	font-weight:bold;
	color:#484848;
	text-decoration:none;
}

#homefind{
	background-image:url('/images/home_find_bg.gif');
	text-align:center;
	width:545px;
	height:151px;
}


#homefind select{
	border: 1px solid #ccc;
	color:#424242;
	width:300px;
	height:30px;
	font-size:14pt;
	font-family:arial;
}

#directory{
	margin-top:35px;
	margin-left:17px;
	font-size:11pt;
}

#directory a{
	color:#9cc24d;
	text-decoration:none;
}

#directory a:hover{
	text-decoration:underline;
}

.directorylink{
	color:#00acda;
}

.directorylink:hover{
	color:#00acda;
	text-decoration:none;
}

.bluebutton{
	color:#ffffff;
	height:30px;
	font-size:14pt;
	font-weight:bold;
	font-family:arial;
	background-color:#00acda;
	border:1px solid #00acda;
	padding:0 15px 0 15px;
}

/* boxes on campus page */

#campusleft{
	width:584px;
	margin-right:16px;
	float:left;
}

#campusright{
	width:346px;
	float:left;
}

#campusphoto{
	width:584px;
	height:120px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#campusinfo{
	width:562px;
	background-color:#b2e6f4;
	padding:11px;
}

#campusinfo td{
	font-weight:bold;
	padding-bottom:5px;
}

#campusinfo .overalllabel{
	font-weight:bold;
	font-size:16pt;
}

#overallbig{
	height:37px;
	width:235px;
	background-color:#97c4d0;
	background-repeat:no-repeat;
	font-weight:bold;
	font-size:24pt;
	overflow: hidden;
}

#overallbig span {
  display: block;
  background-color: #00acda;
  padding-left: 4px;
}

#campuscomment{
	width:584px;
}

#campuscommentcopy{
	width:434px;
	padding:11px;
	float:left;
	font-size:11pt;
}

#campuscommentview{
	width:102px;
	padding:8px;
	text-align:center;
	float:left;
}

#paging, #paging a{
	color:#81a33b;
	font-weight:bold;
}

#paging{
	padding:11px;
}

#campusinfooverall{
	float:left;
	margin:0 15px 0 15px;
}

#campusinforatings{
	float:left;
}

#campusinfoline{
	float:left;
	text-align:center;
	margin:0 100px 0 100px;
}

#campusinfobest{
	float:left;
	margin:0 15px 0 15px;
}

#campusinfobest2{
	float:left;
}

#ratingsboxcontainer{
	width:346px;
}

#ratingsbox{
	width:346px;
	background-image:url('/images/ratingsbox_bg.gif');
	background-repeat:repeat-y;
}

#ratingsbox td{
	color:#2d2d2d;
	font-size:12pt;
	font-weight:bold;
	text-transform:uppercase;
}

#ratingsbox a{
	color:#2d2d2d;
	font-size:12pt;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:underline;
}

#ratingsbox a:hover{
	text-decoration:none;
}

/* boxes for activity feed */

#activitycontainer{
	width:346px;
	margin-top:20px;
}

#activity{
	width:346px;
	background-image:url('/images/ratingsbox_bg.gif');
	background-repeat:repeat-y;
}

#activity td{
	color:#2d2d2d;
	font-size:11pt;
	line-height:28px;
}

#activity td .mainlink{
	font-size:12pt;
}

#activity a{
	color:#2d2d2d;
	font-size:11pt;
	font-weight:bold;
	text-decoration:underline;
}

#activity a:hover{
	color:#2d2d2d;
	text-decoration:none;
}

#seeall a{
	float:right;
	margin:18px 15px 0 0;
	font-weight:bold;
	font-size:10pt;
	padding:5px;
	color:#ffffff;
	text-decoration:none;
}

/* used on category (i.e. dorm) page */

#icon{
	float:left;
	width:77px;
	height:88px;
}

#listingcontainer{
	margin:25px 0 0 57px;
	float:left;
	border: 0px solid #999;

}

#listingcontainer a{
	color:#000000;
	text-decoration:underline;
}

#listingcontainer a:hover{
	text-decoration:none;
}

.theader{
	color:#808080;
	font-size:12px;
}

.breadcrumbs{
	color:#000000;
	font-size:9pt;
	font-weight:bold;
	text-transform:uppercase;
}

#breadcrumbs{
	line-height:30px;
}

#breadcrumbs a{
	color:#000000;
	text-decoration:none;
}

#breadcrumbs a:hover{
	color:#000000;
	text-decoration:underline;
}

.categorylink{
	text-decoration:none;
	font-weight:bold;
}

.categorylink:hover{
	text-decoration:underline;
	font-weight:bold;
}

/* used on individual item ratings pages */

#itemcontainer{
	width:852px;
	margin-left:77px;
	padding:10px;
	border: 0px solid #999;
	background-color:#b2e6f4;
}

#itemratingscontainer{
	float:left;
	width:260px;
	border: 0px solid #999;
}

#iteminfocontainer{
	float:left;
	margin-left:39px;
	width:533px;
	font-size:10pt;
	background-color:#d1f0f8;
	padding:10px;
}

#itemcopy{
	width:359px;
	margin-right:11px;
	float:left;
}

#itemphoto{
	width:160px;
	float:left;
}

#overallrating{
	float:left;
	width:145px;
	background-color:#97c4d0;
	background-repeat:no-repeat;
	font-weight:bold;
	font-size:18pt;
	margin-bottom:18px;
}

#overallrating span {
  display: block;
  background-color: #00acda;
  padding-left: 4px;
}

#overallratinglabel{
	width:110px;
	height:26px;
	float:left;
	font-weight:bold;
	font-size:15pt;
	padding-top:5px;
}

#overallrating .overallrating{
	font-size:42pt;
	font-weight:bold;
}

#otherrating{
	width:145px;
	background-color:#97c4d0;
	background-image:url('/images/bluebar.gif');
	background-repeat:no-repeat;
	font-weight:bold;
	float:left;
	margin-bottom:10px;
}

#otherrating span {
  display: block;
  background-color: #00acda;
  padding-left: 4px;
  padding-top: 2px;
}

#otherratinglabel{
	width:110px;
	height:19px;
	float:left;
	padding-top:1px;
	text-transform: uppercase;
}

#otherrating .otherrating{
	font-size:30pt;
	font-weight:bold;
}

#ratingscontainer{
	width:872px;
	margin-left:77px;
	border: 0px solid #999;
}

.ratingslabel{
	font-size:8pt;
	font-weight:bold;
}

.ratingscopy{
	font-size:11pt;
}

.ratingsauthor{
	color:#2d2d2d;
	font-style:italic;
	font-size:10pt;
}

/* used on campus rating page */

#ratingcontainer{
	width:707px;
}

#ratingcontainer td{
	font-weight:bold;
	border-bottom:5px solid #ffffff;
	background-repeat:no-repeat;
}

#ratingcontainer .tdpad{
	padding:2px;
}

/* form stuff */

#signup{
	width:400px;
	padding:14px;
	background-color:#b2e6f4;
}

#signup label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
	margin:0 10px 0 0;
}

#signup select{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	height:25px;
	margin:2px 0 20px 0;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#signup .textareainput{
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:400px;
	height:100px;
	margin:2px 0 20px 0px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	resize:none;
}

.textinput{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 0px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.textinputerror{
	background-color:#eeecaf;
}

.small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}

.labelpadding{
	padding-top:5px;
}


/* rating form */

#iteminfocontainer2{
	float:left;
	margin-left:77px;
	width:852px;
	font-size:10pt;
}

#rateform{
	width:750px;
	padding:14px;
	background-color:#b2e6f4;
}

#rateform label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
	margin:-2px 10px 0 0;
}

#rateform .radiorating{
	display:inline;
	margin-left:20px;
}

#rateform .textareainput{
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:400px;
	height:100px;
	margin:2px 0 20px 0px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	resize:none;
}

#rateform .spacing{
	margin-left:150px;
}

#rateform a{
	color:#000000;
}

#rateform .awful{
	font-weight:bold;
	color:#19b05b;
}

#rateform .amazing{
	font-weight:bold;
	color:#d04546;
}

/* contact form */

#contact{
	width:475px;
	padding:14px;
	background-color:#b2e6f4;
}

#contact label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
	margin:0 10px 0 0;
}

#contact .textareainput{
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:300px;
	height:100px;
	margin:2px 0 20px 0px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	resize:none;
}

#contact select{
	border: 1px solid #ccc;
	color:#000000;
	width:200px;
	height:25px;
	font-size:12pt;
	font-family:arial;
}

.required{
	color:#cc0000;
}

#infoMessage ul{
	color:#cc0000;
	list-style-image:url('/images/error_x.png');
} 
 

#infoMessage li{
	color:#cc0000;
}

.favlink{
	color:#000000;
}

/* pop up search */

#searchbox{
	position:relative;
	z-index:2;
	height:93px;
	width:548px;
	background-image:url('/images/searchbox_bg.png');
	margin-left:90px;
	margin-top:0px;
	text-align:center;
	padding-top:85px;
}

#searchbox select{
	border: 1px solid #ccc;
	color:#424242;
	width:300px;
	height:30px;
	font-size:14pt;
	font-family:arial;
}


/* best of page */

#bestofsearch{
	float:left;
	margin-left:25px;
}

#bestofsearch select{
	border: 1px solid #ccc;
	color:#424242;
	width:300px;
	height:30px;
	font-size:14pt;
	font-family:arial;
}

#bestoflist{
	float:left;
	width:457px;
	margin-top:30px;
}

.bestofheader{
	color:#ffffff;
	text-transform:uppercase;
	font-weight:bold;
}

#bestoflist td{
	color:#2d2d2d;
	font-size:11pt;
	font-weight:bold;
}

#bestoflist a{
	color:#2d2d2d;
	font-size:11pt;
	font-weight:bold;
	text-decoration:underline;
}

#bestoflist a:hover{
	text-decoration:none;
}

.bestofright{
	margin-left:30px;
}

.rating_bar {
    background-color: #c4c4c4;
    overflow: hidden;
}
.rating_bar span { 
    display: block;
    background-color: #01B6DB;
    padding-left: 6px;
}

.heart.item {
  display: block;
  background: transparent url('/images/icon_favorite.png') top left no-repeat;
  width: 28px;
  height: 24px;
  float: left;
  margin-right: 10px;
  text-indent: -9000px;
}

.heart.item.active {
  background-position: bottom left;
}

.camera {
  float: left;
}

tr.header td {
  background-color: #b2e6f4;
}
